<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Refid</th>
            <th>Marketplace</th>
            <th>Amount</th>
            <th>PurchaseDate</th>
            <th>Currency</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.refid }}</td>
            <td>{{ order.marketplace }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.purchaseDate ? order.purchaseDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ order.currency }}</td>
            <td>
                <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
