{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    {{ include('order/_list.html.twig') }}

    <a href="{{ path('order_new') }}">Create new</a>
    <a href="{{ path('order_search') }}">Search/Filter</a>
{% endblock %}
