{% extends 'base.html.twig' %}

{% block title %}Search Order{% endblock %}

{% block body %}
    <h1>Search Order</h1>

    {{ form(form) }}

    <h2>Search Results</h2>

    {{ include('order/_list.html.twig') }}
    
    <a href="{{ path('order_index') }}">back to list</a>
{% endblock %}
